@model Rental.Data.Models.CarImage

@{
    ViewData["Title"] = "Створити зображення";
}

<h1>Створити зображення</h1>

<h4>Зображення човна</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- URL зображення -->
            <div class="form-group">
                <label asp-for="Url" class="control-label">URL зображення</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CarId" class="control-label">Човен</label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
            </div>

            <!-- Кнопка для створення -->
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Повернутись до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
