@{
    Layout = "_Layout";
}

<div class="container my-5">
    <h2 class="text-center mb-4 text-uppercase font-weight-bold" style="color: #171717; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
        Про нас
    </h2>

    <div class="card shadow-sm border-0 mb-3">
        <div class="card-body">
            <h5 class="card-title">1. Хто ми?</h5>
            <p>
                Ласкаво просимо до WaveShare — вашого надійного партнера в оренді човнів у Хмельницькій області. Наша місія — дарувати вам незабутні враження від відпочинку на воді, надаючи доступ до якісних і безпечних плавзасобів. Ми віримо, що кожна подорож по воді має бути комфортною та легкою.
            </p>
        </div>
    </div>

    <div class="card shadow-sm border-0 mb-3">
        <div class="card-body">
            <h5 class="card-title">2. Наші переваги</h5>
            <ul>
                <li>Зручне онлайн-бронювання човнів.</li>
                <li>Широкий вибір човнів на будь-який смак та для будь-якої мети.</li>
                <li>Кожен човен проходить ретельну перевірку на технічний стан перед кожним виходом на воду.</li>
                <li>Індивідуальний підхід та гнучкі умови оренди.</li>
            </ul>
        </div>
    </div>

    <div class="card shadow-sm border-0 mb-3">
        <div class="card-body">
            <h5 class="card-title">3. Чому обирають нас?</h5>
            <p>
                Клієнти обирають WaveShare за нашу надійність, прозорість та відмінний сервіс. Ми дбаємо про вашу безпеку та комфорт, надаючи лише перевірені та доглянуті човни. З нами ваша пригода на воді буде не тільки приємною, але й повністю безпечною.
            </p>
        </div>
    </div>

    <div class="card shadow-sm border-0 mb-3">
        <div class="card-body">
            <h5 class="card-title">4. Контактна інформація</h5>
            <ul>
                <li>Телефон: +380 97 123 4567</li>
                <li>Email: info@waveshare.com</li>
                <li>Адреса: м. Хмельницький, вул. Інститутська 1</li>
            </ul>
        </div>
    </div>
</div>