@{
    Layout = "_Layout";
}

<div class="container my-5">
    <h2 class="text-center mb-4 text-uppercase font-weight-bold" style="color: #171717; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
        Політика конфіденційності
    </h2>

    <div class="card shadow-sm border-0 mb-3">
        <div class="card-body">
            <h5 class="card-title">1. Збір персональних даних</h5>
            <p>
                Ми збираємо ваші персональні дані, щоб покращити ваш досвід оренди човнів, обробити ваші заявки та виконати зобов'язання.
            </p>
        </div>
    </div>

    <div class="card shadow-sm border-0 mb-3">
        <div class="card-body">
            <h5 class="card-title">2. Використання персональних даних</h5>
            <p>
                Ваші дані можуть бути використані для обробки орендних угод, зв'язку з вами та інформування про нові пропозиції.
            </p>
        </div>
    </div>

    <div class="card shadow-sm border-0 mb-3">
        <div class="card-body">
            <h5 class="card-title">3. Захист даних</h5>
            <p>
                Ми вживаємо всіх необхідних заходів для захисту ваших персональних даних від несанкціонованого доступу, використання або розголошення.
            </p>
        </div>
    </div>

    <div class="card shadow-sm border-0 mb-3">
        <div class="card-body">
            <h5 class="card-title">4. Ваші права</h5>
            <p>
                Ви маєте право на доступ до своїх персональних даних, а також на їх коригування або видалення.
            </p>
        </div>
    </div>
</div>
